@use "../../utils/Variables" as t;
.wrapper-prod {
    flex: 1;
    .pagination {
        margin-top: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .products {
        margin-top: 32px;
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: space-between;
        // gap: 32px;
        
        display: grid;
        grid-template-columns: repeat(auto-fit, 400px);
        grid-template-rows: repeat(auto-fit, 1fr);
        grid-column-gap: 47px;
        grid-row-gap: 36px;
        justify-content: space-between;
      
        .card_wrapper {

            .add_to_cart {
               
                flex: none;
            }
            .img-card {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    height: auto;
                }
            }
        }
    }
}
.top-items {

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .title {
        h1 {
            font-weight: bold;
            font-size: 32px;
            color: #545454;
        }
    }
    .sort {
        width: 100%;
        max-width: 402px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .MuiFormControl-root  {
            max-width: 402px;
            width: 100%;

            .MuiInputBase-root  {
                color: #000;
                .MuiSvgIcon-root {
                    width: 1em !important;
                    height: 1em !important;
                    color: #33363F;
                }
                .MuiOutlinedInput-notchedOutline {
                    border: none;
                }
            }
        }
    }
}

@media screen and (max-width:1820px) {
 .products {
    // gap: 32px 8px !important;
    .card_wrapper {
        max-width: 362px ;

    }
 }   
}

@media screen and (max-width:1920px) {



    .wrapper-prod .products  {
        display: grid;
        grid-template-columns: repeat(3, auto);
 
     
    }

}
@media screen and (max-width:1400px) {
    .shop_wrapper .inner .filters {
        max-width: 280px;
    }
}
@media screen and (max-width:1280px) {
    .wrapper-prod .products {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }
}
@media screen and (max-width:910px) {
    .shop_wrapper .inner {
        flex-direction: column;
    }
    .shop_wrapper .inner .filters {
        width: 100%;
        max-width: none;
    }
    .filter-category .category-title {
        border: 1px solid #EBEBEB;
    }
    .filters-wrapper .search-product {
        padding-bottom: 24px;
        border: none;
    }
    .top-items {
        display: flex;
        flex-direction: column-reverse;

        .sort {
            
        }
    }
    .top-items .sort {
        width: 100%;
        max-width: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex: 1;
    }
    .top-items .sort .MuiFormControl-root {
        max-width: none;
        width: 100%;
    }
    .top-items .sort .MuiFormControl-root .MuiInputBase-root .MuiOutlinedInput-notchedOutline {
        border:1px solid #EBEBEB;
    }
    .top-items .sort .MuiFormControl-root .MuiInputBase-root {
        border-radius: 0px;
    }
    .shop_wrapper .inner {
        gap: 24px   ;
    }
    .top-items .title h1 {
        margin-top: 24px;
    }
    .wrapper-prod .products {
        margin-top: 24px;
    }
    .wrapper-prod .products {
     
        grid-column-gap: 8px;
        grid-row-gap: 12px;

    }
}

@media screen and (max-width:450px) {
    .card_wrapper .add_to_cart .wrapper_btn {
        background: t.$primary;
        color: #fff;
        padding: 8px 8px;
    }
}