.logo-instance-icon {
    width: 7px;
    height: 14px;
    position: relative;
    object-fit: contain;
  }
  .logo-instance-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
  }
  .elevate-your-style {
    width: 573px;
    position: relative;
    line-height: 22px;
    display: inline-block;
    white-space: nowrap;
  }
  .frame-child {
    width: 7px;
    height: 14px;
    position: relative;
  }
  .vector-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
  }
  .frame-parent,
  .nav-bar {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
  }
  .frame-parent {
    background-color: var(--color-brand-main);
    overflow-x: auto;
    flex-direction: row;
    justify-content: center;
    padding: 11.5px var(--padding-xl);
    gap: var(--gap-17xl);
  }
  .nav-bar {
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
    text-align: center;
    font-size: var(--desktop-para-size);
    color: var(--basic-2);
    font-family: var(--desktop-para);
  }
  .checkout,
  .view-or-edit {
    align-self: stretch;
    position: relative;
  }
  .checkout {
    margin: 0;
    font-size: inherit;
    line-height: 52px;
    font-weight: 700;
    font-family: inherit;
  }
  .view-or-edit {
    font-size: var(--desktop-para-size);
    line-height: 150%;
    font-weight: 500;
  }
  .checkout-parent,
  .youtube-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .checkout-parent {
    align-self: stretch;
    justify-content: flex-start;
    gap: var(--gap-base);
    flex-shrink: 0;
  }
  .youtube-logo {
    width: 693px;
    justify-content: flex-end;
    padding: 0 0 27.4px;
    box-sizing: border-box;
    min-width: 693px;
    max-width: 100%;
  }
  .frame-item {
    height: 146.9px;
    width: 806px;
    position: relative;
    filter: blur(234px);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    min-width: 806px;
    max-width: 100%;
  }
  .checkout-button,
  .youtube-logo-parent {
    align-self: stretch;
    display: flex;
    max-width: 100%;
  }
  .youtube-logo-parent {
    background-color: var(--color-brand-main);
    overflow: hidden;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 120px;
    box-sizing: border-box;
    gap: var(--gap-xl);
  }
  .checkout-button {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    font-size: var(--desktop-h2-size);
    color: var(--basic-2);
    font-family: var(--desktop-para1);
  }
  .logo-company-for-business,
  .logo-company-for-business-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .logo-company-for-business {
    margin: 0;
    width: 100%;
    justify-content: flex-start;
    gap: var(--gap-28xl);
  }
  .logo-company-for-business-wrapper {
    padding: 120px 0;
    align-self: stretch;
    justify-content: space-between;

    box-sizing: border-box;
  }
  .checkout-cart {
    width: 100%;
    position: relative;
    background-color: var(--basic-2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 120px;
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1725px) {
    .frame-item,
    .youtube-logo {
      flex: 1;
    }
    .youtube-logo-parent {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 1350px) {
    .frame-item,
    .youtube-logo {
      min-width: 100%;
    }
    .youtube-logo-parent {
      padding-left: var(--padding-41xl);
      padding-right: var(--padding-41xl);
      box-sizing: border-box;
    }
    .logo-company-for-business {
      flex-wrap: wrap;
    }
    .checkout-cart {
      gap: 60px;
    }
  }
  @media screen and (max-width: 900px) {
    .frame-parent {
      gap: var(--gap-lg);
    }
    .checkout {
      font-size: 38px;
      line-height: 42px;
    }
    .youtube-logo-parent {
      padding-left: var(--padding-11xl);
      padding-right: var(--padding-11xl);
      box-sizing: border-box;
    }
    .logo-company-for-business {
      gap: var(--gap-4xl);
    }
    .checkout-cart {
      gap: 30px;
    }
  }
  @media screen and (max-width: 450px) {
    .checkout {
      font-size: 29px;
      line-height: 31px;
    }
    .logo-company-for-business-wrapper {
        padding: 20px 0;
    }
  }
  