@use "../../utils/Variables" as t;
.search_ {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    margin-top: 186px;
    .input_wrapper {
        position: relative;
        width: 620px;
           
        height: 42px;
        .input_search {
            outline: none;
            background: #FFFFFF;
            border: 1px solid #EBEBEB;
            width: 100%;
            height: 100%;
         
            border-radius:4px ;
            padding-right: 11px;
            padding-left: 11px;
            &::placeholder {
                color: #000;
                font-weight: 400;
                font-size: 16px;
            }
        }
        .icon {
            position: absolute;
            right: 11px;
            top: 10px;
        }
    }
    .tips {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 39px;
        flex-wrap: wrap;

        .tip {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px 16px;
            background: none;
            cursor: pointer;
            border: 1px solid t.$primary;

            p {
                color: t.$primary;
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
}