.wrapper-gift {
    background: url("../../images/bggift.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 560px;
    display: flex;
    align-items: center;
    margin: 80px 0;
    .inner-gift {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-right: 80px;
        padding-left: 80px;

        .text {
            max-width: 620px;
            width: 100%;
            p {
                font-size: 14px;
                color: #545454;
                font-weight: 400;
                line-height: 18px;
            }
        }
        .big-text {
            max-width: 620px;
            width: 100%;
        }
        .gift-button {
            .button_wrapper {
                max-width: 130px;
                width: auto;
                padding: 16px 32px;
            }
        }
    }
}

@media screen and (max-width:550px) {
    .wrapper-gift .inner-gift {
        padding-right: 24px;
        padding-left: 24px;
        text-align: center;
    }
    .wrapper-gift .inner-gift .gift-button .button_wrapper {
        max-width: none;
        width: 100%;
        padding: 16px 32px;
    }
}