

.filters-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    .search-product .search_ {
        margin-top: 0;
    }
    .search_ .input_wrapper {

       
       
   
        width: 100%;
   
    }
    .search-product {
        display: flex;
        flex-direction: column;
        
        padding-bottom: 24px;
        border-bottom: 1px solid #000;
    }
    .see-more-btn {
        padding: 16px 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px  solid #C0C69C;
        cursor: pointer;
        margin-top: 5px;
        span {
            color: #C0C69C;
        }
    }
}