@use "../../utils/Variables" as t;
.most-popular {
    padding-bottom: 80px;
    padding-top: 80px;
    .cards {
        padding-top: 0;
        padding-bottom: 0;
    }
}
.cards {
    padding-top: 80px;
    padding-bottom: 80px;
    .navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;


        .buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            gap: 36px;

            &:hover {
                opacity: 0.8;
            }

            div {
                background: t.$secondary;
                border-radius: 100%;
                padding: 12px;
                img {
                    width: 30px;
                }
            }
        }
    }
    .small-text {
        span {
            font-size: 14px;
            color: #545454;
            font-weight: 400;
            text-align: center;
        }
    }
    .big-text {
        margin-top: 16px;
        h3 {
            font-size: 48px;
            font-weight: bold;
            line-height: 52px;
            color: #545454;
        }
    }
}
@media screen and (max-width:850px) {
    .cards .big-text h3 {
        font-size: 24px;
        color: #545454;
        line-height: 22px;
        
    }
    .cards .small-text span {
        font-size: 14px;
        line-height: 18px;
    }
}